* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header{
    background-color:rgba(42, 49, 50, 1);
    justify-content: space-around;
    align-items: center;
    height:70px;
    cursor:default;
    width:100%;
    position:fixed;
    top:0px;
    z-index: 10;
}

.logo {
    font-size:30px;
    letter-spacing: 3px;
    color: whitesmoke;
    float:left;
    margin: 20px 0 0 30px;

    font-family:'Bahnschrift SemiBold', cursive;
}

.nav-links {
    display:flex;
    width:80%;
    list-style: none;
    transition : all 1s ease;
    justify-content: space-around;

    float:right;
    margin: 25px 0 0 0;
}

.nav-links li a {
    text-decoration:none;
    color:whitesmoke;
    font-weight: bold;
    letter-spacing: 3px;


    opacity:0.7;
    cursor:pointer;
    font-size: 20px;
    font-family:'Bahnschrift SemiBold', cursive;

}
.burger {
    display:none;
    cursor:pointer;
    float:right;
    padding:25px;
}

.burger div {
    background-color:whitesmoke;
    width:25px;
    height:3px;
    margin:5px;
    transition:all 0.5s ease;
}

.nav-links a:hover {
    opacity:1;
}

@media (max-width:1000px){
    .nav-links {
        margin:25px 0 0 0 ;
    }
    .nav-links li a {
        font-size: 14px;

    }
    .logo {
        font-size:20px;
        margin: 20px 0 0 30px;
    }
}
/* responsive HP */
@media (max-width:670px){
    .burger {
        display:block;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        flex-direction: column;
        top: 40px;
        background-color: rgba(42, 49, 50, 1);
        height: 100vh;
        align-items:center;
        z-index: -1;
        width: 100%;
        transform: translateX(100%);
        padding-top:0px;
        padding-bottom: 100px;

    }
    .nav-links li a {
        font-size: 20px;


    }
    .logo {
        font-size: 25px;
        margin:25px 0 0 20px
    }
}


.nav-active {
    transform: translateX(0%);
}

.nav-active li a {
    opacity: 1;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
